.nb-container{
  width: 75%;
  height: 120px;

  background-color: rgba(19,19,19,0.30);

  position: relative;

  /*left: 50%;

  transform: translatex(-50%);
  */

  float: right;
}

.nb-menu{
  position: absolute;

  height: 48px;
  width: 48px;

  right: 16px;
  top:50%;

  transform: translateY(-50%);
}
.nb-menu>input{
  height: 48px;
  width: 48px;

  border: none;
  background: transparent;
  background: url("/src/ic_menu_white_24dp.png") center center no-repeat;
  background-size: 48px;

  padding: 0px;

  opacity: 1;
}
